.env
.php_cs.cache
/.idea
/.vagrant
/node_modules
/public/css
/public/hot
/public/js
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
tags
tags.lock
tags.temp
yarn-error.log
